# This is an example configuration file for the NATS logger

natsServer:
  cert: aCert
  key: aKey
  port: 1234
  host: localhost

channels:
 - ">"
# - majorDomo.aPod.externalWebServer.reload
# - contextWS
